<section id="gallery" class="gallery-section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Impressionen</h3>
                <p class="light">Entdecke die Momente, die den Saunawagon so besonders machen</p>
                <br>
            </div>
        </div>
    </div>
    
    <div class="splide gallery-splide" aria-label="Saunawagon Gallery">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="<%= require('../images/people_bonfire.jpg') %>" alt="Gemütliches Lagerfeuer">
                        <div class="slide-caption">
                            <h5>Lagerfeuer-Atmosphäre</h5>
                            <p>Gesellige Abende am Feuer – der perfekte Ausklang nach der Sauna</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="<%= require('../images/lake_fire.jpg') %>" alt="Sauna am See">
                        <div class="slide-caption">
                            <h5>Sauna am See</h5>
                            <p>Erfrischung direkt vor der Tür – Wellness in der Natur</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="<%= require('../images/kraeuter.jpg') %>" alt="Kräuter und Aufgüsse">
                        <div class="slide-caption">
                            <h5>Natürliche Kräuter</h5>
                            <p>Aromatische Aufgüsse mit handverlesenen Kräutern aus der Region</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="<%= require('../images/finnland_special.jpg') %>" alt="Finnische Tradition">
                        <div class="slide-caption">
                            <h5>Finnische Tradition</h5>
                            <p>Authentisches Saunaerlebnis nach skandinavischem Vorbild</p>
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="slide-content">
                        <img src="<%= require('../images/wildcooking_01.jpg') %>" alt="Wild Cooking">
                        <div class="slide-caption">
                            <h5>Wild Cooking</h5>
                            <p>Kochen über offenem Feuer – ein Erlebnis für alle Sinne</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
