<!doctype html>
<html lang="en">
<head>
    <%- require('./partials/head.ejs')({ htmlWebpackPlugin, require }) %>
</head>
<body class="loading">

<%- require('./partials/nav.ejs')() %>

<%- require('./partials/hero.ejs')({ require }) %>

<%- require('./partials/section-idea.ejs')({ require }) %>

<%- require('./partials/section-gallery.ejs')({ require }) %>

<%- require('./partials/section-team.ejs')({ require }) %>

<%- require('./partials/section-contact.ejs')({ require }) %>

<%- require('./partials/section-crowdfunding.ejs')({ require }) %>

<%- require('./partials/footer.ejs')() %>

<%- require('./partials/modal-datenschutz.ejs')() %>

<!-- Main app script loaded at end of body -->
<script src="app.js"></script>

</body>
</html>
